#create {
    padding-top: 0px;
    padding-bottom: 20px;
}

#create .create-title {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    display: flex;
}

#create .description-card {
    padding-top: 20px;
}

#create .card-img img {
    position: absolute;
    width: 20%;
    height: auto;
    top: 0;
    right: 0;
}

#create .card {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: var(--background-color-1);
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: none;
    transition: 0.4s;
}

#create .card:hover {
    margin-top: -20px;
}

#create .step {
    font-size: 15px;
    font-weight: 400;
    color: var(--color-body);
}

#create .card-information {
    margin-top: 20px;
    padding-top: 0px;
}

#create .description-name h2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 10px;
    color: var(--color-white);
}

#create .descripton-information p {
    font-size: 16px;
    line-height: 28px;
    color: var(--color-body);
    margin-bottom: 30px;
    margin-top: 20px;
}

#create .card:hover .description-name h2 {
    color: var(--color-primary);
}

/*Light Mode On*/

.light #create .card {
    background-color: #fff;
}

.light #create .description-name h2 {
    color: #13131d;
}

.light #create .create-title {
    color: #13131d;
}

/*Light Mode Off*/
@media screen and (min-width:1320px) and (max-width:1600px) {
    #create .card-img img {
        width: 22.5%;

    }
}

@media screen and (max-width:992px) {
    #create {
        padding-top: 10px;
    }

    #create .description-card {
        padding: 10px;
    }

    #create .create-title {
        padding: 10px;
        padding-top: 0px;
    }

    #create .card-img {
        position: absolute;
    }

    #create .card {
        margin-top: 10px;
    }

    #create .card-img img {
        position: absolute;
        width: 31%;
        height: auto;
        top: -14px;
        right: 15px;
    }
}