#explore-products {
    padding-top: 20px;
    padding-bottom: 20px;
}

#explore-products .items-title {
    padding-bottom: 15px;
    padding-top: 0px;
    color: #fff;
}

#explore-products .filter {
    background-color: var(--color-primary);
    color: #fff;
    float: right;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
}

#explore-products .filter:hover {
    background-color: #0397eda4;
}

#explore-products .icon-filtre {
    font-size: 14px;
}

.default-exp-wrapper {
    transition: 0.4s;
    position: relative;
    z-index: 2;
}

.default-exp-wrapper {
    border-top: 1px solid var(--color-border);
}

.default-exp-wrapper .inner {
    display: flex;
    padding: 40px 0;
    justify-content: flex-end;
    margin: -10px;
    flex-wrap: wrap;
}

.default-exp-wrapper .inner .filter-select-option {
    flex-basis: 20%;
    padding: 10px;
}

.default-exp-wrapper .inner .filter-select-option .filter-leble {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 10px;
    color: var(--color-white);
}

.price__output--wrap .price--output span {
    color: var(--color-body);
    font-size: 12px;
    display: inline-block;
    letter-spacing: .5px;
}

.price__output--wrap .price--output .output-label {
    margin-left: 10px;
    flex-grow: 1;
    font-size: 12px;
    font-weight: 400;
    width: 100px;
    letter-spacing: .5px;
}

.price__output--wrap {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.price__output--wrap .price--output {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.price__output--wrap .price--filter {
    display: inline-block;
    margin-top: -2px;
}

.price__output--wrap .price--filter a.btn {
    padding: 2px 10px;
    font-size: 12px;
    letter-spacing: .5px;
    text-transform: uppercase;
    border-radius: 6px;
    line-height: 16px;
}

.default-exp-wrapper .inner .filter-select-option .nice-select {
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
}

.nice-select {
    margin-right: 0;
    border: none;
    background: var(--color-primary-alta);
    padding-left: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    clear: both;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    height: 42px;
    line-height: 40px;
    outline: 0;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all .2s ease-in-out;
    white-space: nowrap;
    width: auto;
    min-width: -moz-fit-content;
    min-width: fit-content;
}

.nice-select .current {
    color: var(--color-white);
}

.default-exp-wrapper .inner .filter-select-option .nice-select .list {
    min-width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.nice-select .list {
    background: transparent;
    min-width: 200px;
    border-radius: 5px;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(.75) translateY(-21px);
    transition: all .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out;
    z-index: 9;
}

#explore-products ul {
    margin: 16px 0;
}

.nice-select .option {
    margin: 0;
    color: var(--color-white);
    font-weight: 700;
    transition: var(--transition);
    line-height: inherit;
    min-height: 0;
    font-size: 22px;
    padding: 8px 20px;
    cursor: pointer;
    list-style: none;
    outline: 0;
    text-align: left;
}

.nice-select .option+.option {
    border-top: 1px solid var(--color-border);
}

.default-exp-wrapper .inner .filter-select-option .price_filter {
    margin-top: 16px;
}

.input-range .slider-track-container {
    height: 4px;
    border-radius: 5px;
}

.input-range .slider-thumb {
    width: 10px;
    height: 10px;
    background: var(--color-primary);
    border-radius: 50%;
    margin-top: -3px;
    transition: left .3s ease-out, width .3s ease-out;
}

#explore-products ul li {
    list-style: none !important;
}

#explore-products .menu-item .toggle {
    color: var(--color-white) !important;
}

#explore-products .sub-content {
    background: var(--color-primary-alta);
    z-index: 2;
}

#explore-products .sub-item {
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

#explore-products .icon-down1 {
    font-size: 10px;
    margin-left: 5px;
}

#explore-products .nft-cards {
    position: relative;
    z-index: 1;
}

#explore-products .card {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #242435;
    padding: 5px;
    box-shadow: none;
}

#explore-products .card::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: auto;
    bottom: 0;
    border-radius: 15px;
    background-image: linear-gradient(100deg, #13131d, #0398ed);
    background-repeat: repeat-x;
    transition: all .5s;
    z-index: -2;
    transform: rotate(2deg) translateX(-7px) translateY(11px);
    transition: 0.4s;
    opacity: 0;
}

#explore-products .card:hover:before {
    opacity: 1;
}

#explore-products .card:hover ::after {
    top: 0;
    background: #242435;
    border-radius: 10px;
    z-index: -1;
}

#explore-products .card-information {
    margin: 20px;
}

#explore-products .card .card-img img {
    display: table;
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#explore-products .card .card-timer {
    position: absolute;
}

#explore-products .user img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transform: scale(0.8);
    transition: 0.3s;
    position: absolute;
}

#explore-products .user img:hover {
    border-radius: 50%;
    transform: scale(1);
    transition: 0.3s;
}

#explore-products .user img:nth-child(2) {
    margin-left: 15px;
}

#explore-products .user img:nth-child(3) {
    margin-left: 25px;
}

#explore-products .place-bit {
    color: var(--color-body);
    display: inline-block;
    padding-left: 57px;
}

#explore-products .place-bit:hover {
    color: var(--color-primary);
}

#explore-products .more-dot {
    position: absolute;
    top: 9px;
    right: 21px;
    z-index: 1;
    color: var(--color-body);
    background-color: transparent;
    border: 1px solid transparent;
    transition: 0.3s;
}

#explore-products .more-dot:hover {
    color: var(--color-primary);
}

#explore-products .more-dot::before {
    position: absolute;
    content: "";
    height: 35px;
    width: 35px;
    background: var(--color-primary-alta);
    top: 71%;
    left: 63%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    transition: 0.4s;
    opacity: 0;
}

#explore-products .card:hover .more-dot::before {
    opacity: 0.8;
}

#explore-products .nft-name {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    transition: .4s;
    color: var(--color-heading);
}

#explore-products .nft-name:hover {
    color: var(--color-primary);
}

#explore-products .nft-class {
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-body);
}

#explore-products .nft-action {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#explore-products .nft-tag {
    color: var(--color-primary);
}

#explore-products .nft-like {
    color: var(--color-body);
    transition: 0.4s;
    line-height: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 2px;
}

#explore-products .nft-like:hover {
    background-color: var(--color-primary);
    line-height: 20px;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 10px;
}

#explore-products .nft-like .icon-heart {
    margin-right: 5px;
}

#explore-products .card-2 {
    margin-top: 20px;
}

/*light Mode On*/
.light #explore-products .items-title {
    color: #13131d;
}

.light #explore-products .card {
    background-color: #fff;
}

.light #explore-products .card::before {
    background-image: linear-gradient(100deg, #fff, #0398ed);
}

.light #explore-products .nft-name {
    color: #13131d;
}

.light #explore-products .nft-name:hover {
    color: var(--color-primary);
}

.light #explore-products .more-dot {
    color: #13131d !important;
}

.light #explore-products .more-dot::before {
    background-color: #fff;
}

/*Light Mode Off*/

@media screen and (min-width:1320px) and (max-width:1500px) {
    #explore-products .card-information {
        margin-top: 10px;
    }

    #explore-products .user img {
        width: 20px !important;
        height: 20px !important;
    }

    #explore-products .place-bit {
        font-size: 11px;
        padding-left: 50px;
    }

    #explore-products .more-dot {
        padding-left: 20px;
    }
}

@media screen and (max-width:992px) {
    #explore-products {
        padding-top: 15px;
    }

    #explore-products .items-title {
        padding: 0px;
    }

    #explore-products .nft-cards {
        padding: 10px;
    }

    #explore-products .card {
        margin-bottom: 10px;
    }

    #explore-products .card-information {
        margin: 5px;
    }
}