:root {
    --color-primary: #00a3ff;
    --color-primary-alta: #212e48;
    --color-gray: #f6f6f6;
    --color-gray-2: #f5f8fa;
    --color-subtitle: #f9004d;
    --background-color-1: #24243557;
    --background-color-2: #13131d;
    --background-color-3: #151521;
    --background-color-4: #242435;
    --gradient-one: linear-gradient(to right bottom, #2899d8, #00a3ff);
    --color-heading: #fff;
    --color-body: #acacac;
    --color-dark: #1d1d1d;
    --color-light-heading: #181c32;
    --color-light-body: #65676b;
    --color-border-white: #00000024;
    --color-midgray: #878787;
    --color-light: #e4e6ea;
    --color-lighter: #ced0d4;
    --color-lightest: #f0f2f5;
    --color-border: #ffffff14;
    --color-white: #fff;
    --color-white-75: hsla(0, 0%, 100%, .75);
    --color-success: #3eb75e;
    --color-danger: #ff0003;
    --color-warning: #ff8f3c;
    --color-info: #1ba2db;
    --color-facebook: #3b5997;
    --color-twitter: #1ba1f2;
    --color-youtube: #ed4141;
    --color-linkedin: #0077b5;
    --color-pinterest: #e60022;
    --color-instagram: #c231a1;
    --color-vimeo: #00adef;
    --color-twitch: #6441a3;
    --color-discord: #7289da;
    --p-light: 300;
    --p-regular: 400;
    --p-medium: 500;
    --p-semi-bold: 600;
    --p-bold: 700;
    --p-extra-bold: 800;
    --p-black: 900;
    --s-light: 300;
    --s-regular: 400;
    --s-medium: 500;
    --s-semi-bold: 600;
    --s-bold: 700;
    --s-extra-bold: 800;
    --s-black: 900;
    --transition: 0.4s;
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Roboto", sans-serif;
    --font-size-b1: 14px;
    --font-size-b2: 18px;
    --font-size-b3: 22px;
    --line-height-b1: 1.5;
    --line-height-b2: 1.6;
    --line-height-b3: 1.7;
    --h1: 50px;
    --h2: 36px;
    --h3: 32px;
    --h4: 26px;
    --h5: 22px;
    --h6: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;700;800&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
""

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
}


body {
    width: 100%;
    overflow-x: hidden;
    background: var(--background-color-2);
    font-family: 'Nunito', sans-serif;
    transition: background 0.2s linear;
    position: relative;
}

body .content {
    display: block;
    position: relative;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: hidden;
}

#closeToggle {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f29441;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0;
}

body.light {
    background-color: #f5f8fa;
}

body::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/noise.gif);
    z-index: -1;
    opacity: .05;
}

body .light::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/noise.gif);
    z-index: -1;
    opacity: .05;
}

.drop {
    position: relative;
}

.drop .sub {
    height: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}


.over-top-i {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 50;
    background-color: var(--color-light-heading);
    color: var(--color-primary);
    padding: 12px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 50%;
}

.show {
    display: block !important;
    opacity: 1 !important
}

.navbar {
    background-color: transparent !important;
    border: 0px !important;
}

.navbar-default {
    background-color: none !important;
    border: 0px !important;
}

.navbar-default .navbar-form {
    display: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: none;
}

.blob {
    background: none;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 10px;
    height: 20px;
    width: 20px;
    transform: scale(1);
    animation: pulse-black 5s infinite;
    display: grid;
    margin-right: 20px;
}

.blob.blue {
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse-blue 1s infinite;
}


@keyframes pulse-blue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

header .dropMenu .sub {
    min-width: 230px;
    height: auto;
    position: absolute;
    top: 90%;
    left: 0;
    z-index: 90;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    padding: 12px 0;
    transition: .3s;
    border-radius: 0 0 10px 10px;
    background-color: var(--background-color-2);
    border-left: 1px solid hsla(0, 0%, 100%, .078);
    border-bottom: 1px solid hsla(0, 0%, 100%, .078);
    border-right: 1px solid hsla(0, 0%, 100%, .078);
}

header .dropMenu:hover .sub {
    opacity: 1 !important;
}

a {
    text-decoration: none !important;
}

ul {
    padding: none !important;
    list-style: none !important;
}

.ml0 {
    margin-left: 0px !important
}

.none {
    display: none !important;
}

.block {
    display: block !important;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fw1 {
    font-weight: 100 !important;
}

.fw2 {
    font-weight: 200 !important;
}

.fw3 {
    font-weight: 300 !important;
}

.fw4 {
    font-weight: 400 !important;
}

.fw5 {
    font-weight: 500 !important;
}

.fw6 {
    font-weight: 600 !important;
}

.fw7 {
    font-weight: 700 !important;
}

.fw8 {
    font-weight: 800 !important;
}

.fw9 {
    font-weight: 900 !important;
}

@media screen and (max-width:992px) {
    .col-sm-fw1 {
        font-weight: 100 !important;
    }

    .col-sm-fw2 {
        font-weight: 200 !important;
    }

    .col-sm-fw3 {
        font-weight: 300 !important;
    }

    .col-sm-fw4 {
        font-weight: 400 !important;
    }

    .col-sm-fw5 {
        font-weight: 500 !important;
    }

    .col-sm-fw6 {
        font-weight: 600 !important;
    }

    .col-sm-fw7 {
        font-weight: 700 !important;
    }

    .col-sm-fw8 {
        font-weight: 800 !important;
    }

    .col-sm-fw9 {
        font-weight: 900 !important;
    }

}

@media screen and (max-width:768px) {
    .col-xs-fw1 {
        font-weight: 100 !important;
    }

    .col-xs-fw2 {
        font-weight: 200 !important;
    }

    .col-xs-fw3 {
        font-weight: 300 !important;
    }

    .col-xs-fw4 {
        font-weight: 400 !important;
    }

    .col-xs-fw5 {
        font-weight: 500 !important;
    }

    .col-xs-fw6 {
        font-weight: 600 !important;
    }

    .col-xs-fw7 {
        font-weight: 700 !important;
    }

    .col-xs-fw8 {
        font-weight: 800 !important;
    }

    .col-xs-fw9 {
        font-weight: 900 !important;
    }

}

.mobileMenu {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

@media screen and (max-width:992px) {
    .mobileMenu {
        margin-left: -100%;
    }

}

@media screen and (max-width:992px) {
    .col-sm-zoom70 {
        zoom: 70%;
    }

}

.colored-hover-text4:hover span {
    color: white !important;
}

.sub-content li:last-child {
    border-bottom: 0px !important;
}

.mirror {
    display: block;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}

* {
    box-sizing: border-box;
}


.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 50px;
    height: 26px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    margin-top: 5px;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #ffff;
}

.fa-sun {
    color: #ff8f3c;
}

@media screen and (max-width:992px) {
    .drop .sub {
        position: relative;
    }
}