#top-seller {
    padding-top: 20px;
       padding-bottom: 20px;
}

#top-seller .top-seller-title {
    padding-bottom: 15px;
    color: #fff;
}

#top-seller .top-seller-content {
    padding-top: 10px;
}

#top-seller .top-seller-user {
    display: flex;
    align-items: center;
}

#top-seller .img-border {
    border: 1px solid var(--color-border);
    border-radius: 50%;
}

#top-seller .top-seller-user img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: scale(0.8);
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#top-seller .top-seller-user:hover img {
    transform: scale(1);
}

#top-seller .seller-content {
    margin-left: 12px;
}

#top-seller .seller-name {
    font-size: 18px;
    color: #fff;
}

#top-seller .seller-count {
    display: block;
    font-size: 14px;
    color: var(--color-body);
}

#top-seller .counter {
    margin-left: 20px;
    font-size: 50px;
    font-weight: 400;
    color: var(--color-body);
    opacity: 0.20;
    transform: scale(1);
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#top-seller .top-seller-user:hover .counter {
    transform: scale(0.8);
}

@media screen and (max-width:992px) {
    #top-seller {
        padding-top: 15px;
    }

    #top-seller .top-seller-title {
        padding:10px;
    }
    #top-seller .top-seller-content {
        padding: 10px;
    }

    #top-seller .top-seller-user img {
        border-radius: 50%;
        width: 35px;
        height: auto;
    }
}